.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;
  // transition: all 5s ease-in-out;
}

.modal-child {
  position: relative;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  z-index: 11;

}

.modal-button-icon{
  position: relative;
  right: 25px;
  font-size: 20px;
  color: #43b581;
  background: inherit;
  border: none;
}





.modal-settings {
  position: relative;
  width: 200%;
  height: 200%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background: #36393f;

  
}
