.header-logo {
  font-size: 50px;
  opacity: .4;
}

.login-button {
  color: white;
  border: 2px solid hsla(0,0%,100%,.8);
  padding: 5px 17px 7px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
}

.login-button:hover {
  opacity: 1;
}