body {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  z-index: 5;
}

.header-logo {
  font-size: 50px;
  opacity: .4;
}

.current-user-block {
  display: flex;
  background: #262b33;
  position: absolute;
  height: 50px;
  width: 200px;
  bottom: 16px;
  left: 16px;
  padding: 0 10px;
  margin-bottom: 1px;
}

.username-box {
  display: box;
  padding: 5px;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 4px
}

.username-icon {
  font-size: 30px;
  padding: 7px;
  color: rgb(206, 109, 109);
}

.settings-bar {
  display: block;
}
.username-text {
  line-height: 28px;
  font-size: 14px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 600;
}

.username-id {
  line-height: 1px;
  font-size: 12px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: gray;

}
.settings-icon {
  top: 3px;
  background: inherit;
  position: absolute;
  border: none;
  color: white;
  font-size: 20px;
  right: 16px;
  cursor: pointer;
  opacity: .7;
  padding: 10px;
  
}

.settings-icon:hover {
  background: #6d7a91a1;
  
}

.login-button {
  color: white;
  border: 2px solid hsla(0,0%,100%,.8);
  padding: 5px 17px 7px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;

}

.login-button:hover {
  opacity: 1;
}