// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-channels {
  width: 320px;
  min-height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  background: #2f3136;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;
  padding-right: 16px;
  position: relative;
  

}

.nav-channels-header {
  padding: 16px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 24px;
  align-items: center;
  border-bottom: 2px solid rgb(36, 36, 36);
  overflow: hidden;
  text-overflow: ellipsis;

}

.nav-channels-list {
  padding: 16px;
  opacity: .8;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}


.channel-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #9b9fa5;
  text-transform: lowercase;
  font-family: Whitney;
  padding: 5px;
  width: 105%;

}

.channel-title-pound {
  font-size: 20px;
  font-weight: 0;
  padding-right: 10px;
}

.channel-title:hover {
  background: rgb(78, 78, 78);
  color: white;
}

.channel-text-header-block {
  padding-bottom: 16px;
  width: 120%;
  color: #9b9fa5;
}

.channel-text-header-block:hover {
  color: white;
  font-weight: 700;
  opacity: 1;
  cursor: pointer;
}

.channel-text-title {
  margin-bottom: 18px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

.Collapsible {
  margin-bottom: 18px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;

}

.Collapsible__contentInner{
  margin-top: 20px;
  margin-bottom: 10px;
}

.channel-add-button {

  position: relative;
  right: 20px;
  color: #9b9fa5;
  font-size: 22px;
  background: transparent;
  top: 56px;
  
}

.channel-add-button:hover {
  color: white;
}

.channel-plus {
  color: #9b9fa5;
}

.channel-plus:hover {
  color: white;
}

.modal-createChannel{
  position: absolute;
  padding: 28px 40px 0;
  width: 100%;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #36393f;
  z-index: 11;
  color: black;
  border-radius: 15px;

  
}

.modal-createChannelGreet{
  color: rgb(163, 163, 163);
  font-weight: 700;

  text-transform: uppercase;
  font-size: 18px;

}

.modal-createChannelGreetText{
  color: #7c7c7c;
  font-weight: 350;
  padding: 10px 0;

  font-size: 13px;

}

.modal-createChannelTitle {
  margin-top: 50px;
  color: #87909c;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.modal-createChannelTitleInput {
  margin-top: 10px;
  width: 95%;
  padding: 10px;
  height: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #1b1e22;
  background: #282d33;
  color: rgb(211, 211, 211);
  
}

.modal-createChannelTitleInput:hover {
  border-color: #121416;
}

.modal-createChannelTitleInput:focus {
  border-color: #5e71b8;
  outline: none;
}

.modal-createChannelButton {
  display: block;
  position: relative;
    margin-top: auto;
  height: 40px;
  top: 30px;
  margin-left: auto;
  color: white;
  background-color: #7289da;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
}
.modal-createChannelCancel{
  display: block;
  position: relative;
  top: 60px;
  left: 300px;
  display: block;
  color: white;

}

.modal-createChannelCancel:hover{
  text-decoration: underline;
  cursor: pointer;
  
}

.modal-createChannelButton:hover {
  cursor: pointer;
  background-color: #6c80cc;
}

.modal-serverOverviewGreet {
  color: white;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
}

.modal-settings-server {
  position: absolute;
  width: 500px;
  min-width: 200px;
  height: 30%;
  left: 600px;
  top: 200px;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 20px;
  border-radius: 5px;
  border-style: solid black;
  border-width: 1px;
}

.modal-settings-server-text {

  padding: 10px;
  position: relative;
  left: 0px;
}

.modal-editServerInput {
  display: block;
}

.modal-editServerTitle {
  color: #87909c;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  position: relative;
  text-align: right;
}

.modal-editServerTitleInput {
  margin-top: 10px;
  width: 45%;
  padding: 10px;
  height: 16px;
  margin-bottom: 8px;
  margin-right: auto;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #1b1e22;
  background: #282d33;
  color: rgb(211, 211, 211);
  position: relative;
  
}

.modal-editServerTitleInput:hover {
  border-color: #121416;
}

.modal-editServerTitleInput:focus {
  border-color: #5e71b8;
  outline: none;
}

