// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messages-username{
  color: rgb(255, 37, 37);
  font-weight: 500;
  line-height: 2px;
  
  padding-top: 10px;
  

}

.messages-username-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.messages-body {
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 0;
  font-size: 14px;
  margin-top: 10px;
}

.messages-time {
  color: white;
}.nav-users-icon {
  position: relative;
  text-align: center;

  font-size: 16px;
  color: white;
  border-radius: 50%;
  background: rgb(173, 20, 87);
  border-color: transparent;
  opacity: .8;
  height: 33px;
  width: 33px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;

  -webkit-align-content: center;

}

.messages-block {
  display: box;
  overflow-x: hidden;
  display: inline-block;
  width: 80%;
  height: 90px;
  padding: 5px;
  float: left;
}

.message-wrap {
  width: 100%;
}

.messages-icon {
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  color: white;
  border-radius: 50%;
  background: white;
  border-color: transparent;
  opacity: 1;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;

  -webkit-align-content: center;

}

.messages-icon-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%
}