// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px #282d33  inset;
  -webkit-box-shadow: 0 0 0 50px #282d33 inset;
  -webkit-text-fill-color: rgb(211, 211, 211);
}

a {
  color: #7289da;
  text-decoration: none;
}

.sessionFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.sessionForm {
  font-family: Helvetica;
  display: flex;
  width: 480px;
  padding: 40px;
  font-size: 18px;  
  position: absolute;
  top: 130px;
  color: #72767d;
  background: #272d35;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
  box-sizing: border-box;
  -webkit-box-shadow: 10px 10px 19px 3px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 10px 19px 3px rgba(0,0,0,0.56);
  box-shadow: 10px 10px 19px 3px rgba(0,0,0,0.56);

}

.session-logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  opacity: .8;
  cursor: default;
  color: #000000d6;

}

.login-spacer {
  padding-bottom: 45px;
}

.vertical-spacer {
  display: block;
  padding: 30px;
  top: 200px;

}
.sessionField:last-of-type {
  padding-bottom: 10px;
}

.login-welcome {
  color: white;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 8px;
  text-align: center;
}

.login-subtitle {
  font-weight: 200;
  text-align: center;
}

.login-text {
  margin-bottom: 8px;
  font-size: 12px;
  color: rgb(182, 182, 182);
  text-transform: uppercase;
  font-weight: 500;
  
}

.session-input {
  width: 95%;
  padding: 10px;
  height: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #1b1e22;
  background: rgba(0,0,0,0.1);
  color: #dcddde;
  
}

.session-input:hover {
  border-color: #121416;
}

.session-input:focus {
  border-color: #5e71b8;
  outline: none;
}

.submit-button {
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: #7289da;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
}


.guest-button {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  color: white;
  background-color: #7289da;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
  text-align: center;
}

.guest-button:hover {
  cursor: pointer;
  background-color: #cebb65;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #6c80cc;
}

.form-prompt-text {
  font-size: 14px;
  line-height: 16px;

}

.errors {
  display: block;
  color: #f04747;
  align-items: left;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  cursor: default;
}



.search-dummy-bar {
  width: 120px;
  padding: 10px;
  height: 7px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #1b1e22;
  background: rgba(0, 0, 0, 0.28);
  color: #8c8c8c;
  
}

.search-dummy-bar:hover{
  border-color: black;
}

.search-dummy-bar:focus{
  outline: none;
}