// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  color: #7289da;
  text-decoration: none;
}

.sessionFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.sessionForm {
  font-family: Helvetica;
  display: flex;
  width: 480px;
  padding: 40px;
  font-size: 18px;
  color: #72767d;
  background: #353c47;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
  box-sizing: border-box;
  -webkit-box-shadow: 10px 10px 19px 3px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 10px 19px 3px rgba(0,0,0,0.56);
  box-shadow: 10px 10px 19px 3px rgba(0,0,0,0.56);

}

.login-spacer {
  padding-bottom: 60px;
}

.sessionField{

}

.sessionField:last-of-type {
  padding-bottom: 10px;
}

.login-welcome {
  color: white;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 8px;
  text-align: center;
}

.login-subtitle {
  font-weight: 200;
  text-align: center;
}

.login-text {
  margin-bottom: 8px;
  font-size: 12px;
  color: rgb(182, 182, 182);
  text-transform: uppercase;
  font-weight: 500;
}

.session-input {
  width: 94%;
  padding: 10px;
  height: 16px;
  margin-bottom: 8px;
  font-size: 16px;

}

.submit-button {
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: #7289da;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
}


.guest-button {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  color: white;
  background-color: #7289da;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
  text-align: center;
}

.guest-button:hover {
  cursor: pointer;
  background-color: #cebb65;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #6c80cc;
}

.form-prompt-text {
  font-size: 14px;
  line-height: 16px;

}

.errors {
  display: block;
  color: #f04747;
  align-items: left;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  cursor: default;
}




// nav bar 


