// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessionFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.sessionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.sessionField{
  padding-top: 10px;
}

.sessionField:last-of-type {
  padding-bottom: 10px;
}