.modal-createServer{
  position: absolute;
  padding: 28px 40px 0;
  width: 460px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 11;
  color: black;
  border-radius: 5px;
  transition: all 5s ease-in-out;

  
}
.modal-createServerExit {
  font-size: 20px;
  top: 44px;
  right: 44px;
  position: absolute;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid hsla(0,0%,100%,.8);
  background: black;
  padding: 8px 14px 8px;
  border-radius: 20px;
  opacity: .8;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.modal-createServerGreet {
  color: #7289da;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}
.modal-createServerGreetText {
  color: #99aab5;
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  padding-bottom: 40px
}

.modal-createServerTitle {
  color: #87909c;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.modal-createServerRegion {
  color: #87909c;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-top: 30px;
}

.modal-createServerTitleInput {
  margin-top: 12px;
  border-width: 0 0 2px;
  border-radius: 0;
  padding-left: 4px;
  border-bottom-style: 2px solid;
  height: 40px;
  font-size: 13px;
  color: #99aab5;
}


.modal-createServerTitleInput:focus {
  outline: none;
}

.modal-createServerButton {
    /* display: block; */
    position: absolute;
    margin-top: auto;
    width: 80px;
    height: 40px;
    bottom: 10px;
    left: 430px;
    color: rgba(255, 255, 255, 0.767);
    background-color: #7289da;
    font-size: 14px;
    line-height: 24px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 8px;
    border: none;
}

.modal-createServerButton:hover{
  cursor: pointer;
  background-color: #6c80cc;
}

.modal-createServerButton:focus{
  outline: none;
}

.createServerFooter{
  width: 100%;
  height: 80px;
  background: #e0e0e0bf;
  bottom: 0px;
  position: absolute;
  left: 0px;

}

.region-container{
  border: 1px solid #0000001f;
  width: 148px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 260px;
}

.region-icon {
  color: #d81111;
  font-size: 25px;
  padding: 10px;
  line-height: 1px;
}
.region-text {
  font-size: 16px;
  color: #99aab5;
  font-weight: 900;
  top: 10px;
  left: 50px;
  position: absolute
}

.createServerReturn{
  color: #b3b4b5;
  font-size: 14px;
  left: 20px;
  position: absolute;
  top: 30px;
  font-weight: 700;
}

.createServerReturn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.server-icon{
  width: 160px;
  height: 160px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 50%;
  background: #7289da;
  border: 3px solid #e0e0e0;
  position: absolute;
  left: 300px;
  top: 120px;
}

.server-icon:hover {
  background: rgba(49, 49, 49, 0.699);
  pointer: cursor
}

.server-icon-warning{
    font-size: 10px;
  color: #87909c;
  cursor: default;
  position: absolute;
  left: 330px;
  top: 300px;
}