

li {
  list-style-type: none;
}

.username-box {
  display: box;
  padding: 5px;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 4px
}

.username-icon {
  font-size: 30px;
  padding: 7px;
  color: rgb(206, 109, 109);
}

.username-text {
  line-height: 28px;
  font-size: 14px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 600;
}

.username-id {
  line-height: 1px;
  font-size: 12px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: gray;
}

.settings-bar {
  display: block;
}

.settings-icon {
  top: 3px;
  background: inherit;
  position: absolute;
  border: none;
  color: white;
  font-size: 20px;
  right: 16px;
  cursor: pointer;
  opacity: .7;
  padding: 10px;
  
}

.settings-icon:hover {
  background: #6d7a91a1;
  
}

//bunch of settings, can be split into different server components later

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
}
.nav-servers {
  display: block;
  width: 90px;
  padding: 16px;
  background: #202225;
  // overflow: hidden;
  overflow-y: scroll;
  contain: layout size;
  overflow-x: hidden;
} 

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: #2f3136; 
  border: 3px solid #36393f;
  border-radius: 7px;
  border-style: solid;
  background-clip: padding-box;
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.nav-servers-button {
  position: relative;
  text-align: center;
  display: flex;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-size: 29px;
  color: #43b581;
  border-radius: 50%;
  background: #2f3136;
  opacity: .8;
  height: 42px;
  width: 42px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-bottom: 10px;
  -webkit-align-content: center;
  align-content: center;
}


.nav-servers-button-title{
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
}

.nav-servers-button-title:first-letter {
  visibility: visible;
  text-transform: lowercase;
}

.nav-servers-button-tooltip .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.nav-servers-button-tooltip .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

nav-servers-button-tooltip .tooltip:hover .tooltiptext {
  visibility: visible;
}

.nav-servers-button:hover {

  border-radius: 15px;
  background: #43b581;
  left: 1px;
  border: none;
  color: white;
  transition: color .15s ease-out,background-color .15s ease-out

}

.current-user-block {
  display: flex;
  background: #262b33;
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: auto;
  padding: 0 10px;
flex: 0;
}

.nav-channels {
  width: 320px;
  min-height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  background: #2f3136;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;
  padding-right: 16px;
  position: relative;
  

}

.nav-channels-header {
  padding: 16px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid rgb(36, 36, 36);
  overflow: hidden;
  text-overflow: ellipsis;

}

.nav-channels-list {
  padding: 16px;
  opacity: .4;
}
.nav-main{
  width: 100%;
  display: flex;
}

.nav-content {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background: #36393f;
  overflow-y: scroll;
}

.nav-content-header {
  padding: 16px;
  font-weight: 500;
  align-items: center;
  border-bottom: 2px solid rgb(36, 36, 36);
}

.nav-content-messages {
  padding: 16px;
  opacity: .7;
}

.nav-users {
  width: 240px;
    display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background: #2f3136;
  overflow-y: scroll;
}

