/* line 4, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.nav-channels {
  width: 320px;
  min-height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  background: #2f3136;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;
  padding-right: 16px;
  position: relative;
}

/* line 23, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.nav-channels-header {
  padding: 16px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 24px;
  align-items: center;
  border-bottom: 2px solid #242424;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 37, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.nav-channels-list {
  padding: 16px;
  opacity: .8;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 46, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #9b9fa5;
  text-transform: lowercase;
  font-family: Whitney;
  padding: 5px;
  width: 105%;
}

/* line 64, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.current-channel-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: white;
  text-transform: lowercase;
  font-family: Whitney;
  padding: 5px;
  width: 105%;
}

/* line 81, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-title-pound {
  font-size: 20px;
  font-weight: 0;
  padding-right: 10px;
}

/* line 87, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-title:hover {
  background: #4e4e4e;
  color: white;
}

/* line 92, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-text-header-block {
  padding-bottom: 16px;
  width: 120%;
  color: #9b9fa5;
}

/* line 98, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-text-header-block:hover {
  color: white;
  font-weight: 700;
  opacity: 1;
  cursor: pointer;
}

/* line 105, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-text-title {
  margin-bottom: 18px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 112, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.Collapsible {
  margin-bottom: 18px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
}

/* line 121, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.Collapsible__contentInner {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 126, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-add-button {
  position: relative;
  right: 20px;
  color: #9b9fa5;
  font-size: 22px;
  background: transparent;
  top: 56px;
}

/* line 137, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-add-button:hover {
  color: white;
}

/* line 141, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-plus {
  color: #9b9fa5;
}

/* line 145, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.channel-plus:hover {
  color: white;
}

/* line 149, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannel {
  position: absolute;
  padding: 28px 40px 0;
  width: 100%;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #36393f;
  z-index: 11;
  color: black;
  border-radius: 15px;
}

/* line 165, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelGreet {
  color: #a3a3a3;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}

/* line 174, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelGreetText {
  color: #7c7c7c;
  font-weight: 350;
  padding: 10px 0;
  font-size: 13px;
}

/* line 183, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelTitle {
  margin-top: 50px;
  color: #87909c;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

/* line 192, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelTitleInput {
  margin-top: 10px;
  width: 95%;
  padding: 10px;
  height: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #1b1e22;
  background: #282d33;
  color: lightgray;
}

/* line 206, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelTitleInput:hover {
  border-color: #121416;
}

/* line 210, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelTitleInput:focus {
  border-color: #5e71b8;
  outline: none;
}

/* line 215, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelButton {
  display: block;
  position: relative;
  margin-top: auto;
  height: 40px;
  top: 30px;
  margin-left: auto;
  color: white;
  background-color: #7289da;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
}

/* line 231, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelCancel {
  display: block;
  position: relative;
  top: 60px;
  left: 300px;
  display: block;
  color: white;
}

/* line 241, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelCancel:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 247, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-createChannelButton:hover {
  cursor: pointer;
  background-color: #6c80cc;
}

/* line 252, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-serverOverviewGreet {
  color: white;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
}

/* line 260, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-settings-server {
  position: absolute;
  width: 500px;
  min-width: 200px;
  height: 30%;
  left: 600px;
  top: 200px;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 20px;
  border-radius: 5px;
  border-style: solid black;
  border-width: 1px;
}

/* line 275, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-settings-server-text {
  padding: 10px;
  position: relative;
  left: 0px;
}

/* line 282, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-editServerInput {
  display: block;
}

/* line 286, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-editServerTitle {
  color: #87909c;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  position: relative;
  text-align: right;
}

/* line 296, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-editServerTitleInput {
  margin-top: 10px;
  width: 45%;
  padding: 10px;
  height: 16px;
  margin-bottom: 8px;
  margin-right: auto;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #1b1e22;
  background: #282d33;
  color: lightgray;
  position: relative;
}

/* line 312, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-editServerTitleInput:hover {
  border-color: #121416;
}

/* line 316, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.modal-editServerTitleInput:focus {
  border-color: #5e71b8;
  outline: none;
}

/* line 322, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.debug-text {
  margin-bottom: 8px;
  font-size: 16px;
  color: #24c2b5;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 331, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/channels.scss */
.debug-text-channel {
  margin-bottom: 8px;
  font-size: 77px;
  text-align: center;
  color: #a7ff04;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 1.4;
}
