/* line 5, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.messages-username {
  color: #ff2525;
  font-weight: 500;
  line-height: 2px;
  padding-top: 10px;
}

/* line 15, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.messages-username-name {
  padding-right: 20px;
}

/* line 19, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.messages-username-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 24, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.messages-body {
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 0;
  font-size: 14px;
  margin-top: 10px;
}

/* line 32, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.messages-time {
  color: white;
}

/* line 34, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.nav-users-icon {
  position: relative;
  text-align: center;
  font-size: 16px;
  color: white;
  border-radius: 50%;
  background: #ad1457;
  border-color: transparent;
  opacity: .8;
  height: 33px;
  width: 33px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-align-content: center;
}

/* line 51, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.message-content {
  height: 100%;
  float: left;
  width: 80%;
}

/* line 58, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.messages-block {
  overflow-x: inherit;
  display: inline-block;
  width: 90%;
  /* height: 90px; */
  padding: 5px;
  float: left;
  /* margin: 20px 20px -20px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* line 73, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.message-icon-block {
  height: 100%;
  float: left;
}

/* line 78, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.message-wrap {
  width: 100%;
}

/* line 82, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.messages-icon {
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  color: white;
  border-radius: 50%;
  background: white;
  border-color: transparent;
  opacity: 1;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-align-content: center;
}

/* line 102, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.messages-icon-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* line 108, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/messages.scss */
.message-divider {
  margin: 20px 20px -20px;
  border-bottom: solid 1px black;
}
