/* line 1, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/tooltips.scss */
a.tooltips {
  position: absolute;
  display: inline;
  color: white;
  z-index: 95599;
}

/* line 9, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/tooltips.scss */
a.tooltips span {
  position: absolute;
  width: 140px;
  color: #ffffff;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  font-size: 10px;
}

/* line 21, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/tooltips.scss */
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

/* line 32, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/tooltips.scss */
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

/* line 43, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/tooltips.scss */
button.tooltips span {
  position: absolute;
  width: 140px;
  color: #ffffff;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  font-size: 10px;
}

/* line 55, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/tooltips.scss */
button.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

/* line 66, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/api/tooltips.scss */
button:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}
