/* line 2, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/users/users_navbar.scss */
.nav-users {
  min-width: 160px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background: #2f3136;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  height: 110%;
}

/* line 14, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/users/users_navbar.scss */
.nav-users-block {
  display: flex;
  overflow-x: hidden;
  cursor: pointer;
  width: 120%;
  padding: 5px;
}

/* line 22, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/users/users_navbar.scss */
.nav-users-block:hover {
  background: #3a3c42;
}

/* line 27, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/users/users_navbar.scss */
.nav-users-icon {
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border-radius: 50%;
  background: #ad1457;
  border-color: transparent;
  opacity: .8;
  height: 33px;
  width: 33px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-align-content: center;
}

/* line 45, /Users/Wei/Desktop/AA/Fullstack/Disaccord/app/assets/stylesheets/users/users_navbar.scss */
.nav-users-username {
  bottom: 0px;
  margin-right: auto;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}
