.settings-logout {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 100px;
  font-size: 14px;
  color: rgb(182, 88, 88);
  padding: 10px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.settings-logout:hover {
  position: absolute;
  bottom: 16px;
  left: 16px;
  
  color: rgb(182, 88, 88);
  background-color: rgba(170, 111, 111, 0.438)
}

.settings-exit {
  font-size: 20px;
  top: 16px;
  right: 16px;
  position: absolute;
  cursor: pointer;
  padding: 10px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.settings-exit:hover {
  background-color: #6e7c9271;

}