.modal-settings-content {
  width: 100%;
  z-index: 74440;
}

.modal-settings-user-info {
  position: absolute;
  width: 40%;
  height: 30%; 
  left: 60%;
  top: 40%;
  transform: translate(-50%, -50%);
  background: #262b33;

  padding: 20px;
  border-radius: 5px;
  border-style: solid black;
  border-width: 1px
}

.settings-info-text {
  margin-bottom: 8px;
  font-size: 16px;
  color: rgb(124, 123, 123);
  text-transform: lowercase;
  font-weight: 400;
  
}

.modal-settings-user-info-text {

  padding: 10px;
  position: relative;
  left: 180px;
}

.settings-logout {
  position: absolute;
  bottom: 30px;
  left: 40px;
  width: 235px;
  font-size: 14px;
  color: rgb(182, 88, 88);
  padding: 10px;
  z-index: 99;
  font-weight: 500;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.settings-logout:hover {
  position: absolute;
  
  color: rgb(182, 88, 88);
  background-color: rgba(170, 111, 111, 0.438)
}

.settings-window {
  display: flex;
  width: 200%;
  height: 200%;
}

.menu-bar {
  width: 270px;
  height: 100%;
  background: #262b33;
  z-index: 14;
  padding: 60px 6px 60px 20px;
  display: flex;
}

.settings-exit {
  font-size: 20px;
  top: 44px;
  right: 44px;
  position: absolute;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid hsla(0,0%,100%,.8);
  padding: 8px 14px 8px;
  border-radius: 20px;
  opacity: .8;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}


.settings-exit:hover {
  opacity: 1;
  background-color: #6e7c9271;

}