/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



html, body, #root, .test {
  height: 100%;
}





body {
   background-color: #27272b;
   color: white;
   font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.main-header {
  display: block;
  padding: 8px 0;
  position: relative;
  width: 100%;
  z-index: 10;
}

.header-inner {
  display: flex;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  flex-wrap: wrap;
  
}

.header-nav-center {
  padding-left: 40px;
  font-size: 12px;
  color: #bbbbbb;
}

.header-logo {
  flex: 0 0 auto;
  margin-top: 4px;
  color: white;
  opacity: 1;
  font-size: 25px;
  margin-right: 20px;
  
}
.header-icons {
  display: flex;
    position: absolute;
    right: 200px;
    font-size: 20px;
}

.header-language {
  flex: 0 0 auto;
  margin-top: 4px;
  color: white;
  opacity: 1;
  font-size: 40px;
  padding-left: 20px
}

.header-nav-right {
  align-items: center;
  flex: 0 1 auto;
  margin-left: auto;
}

.debug-button {
  margin-top: 10px;
  margin-left: auto;
  /* height: 40px; */
  color: white;
  background-color: transparent;
  font-size: 11px;
  line-height: 24px;
  margin-bottom: 8px;
  border: none;
  text-align: center;
  margin-right: 13px;
}

.debug-button:hover {
  cursor: pointer;
  background-color: #6c80cc;
}

.debug-button:focus {
  outline: none;
}

.debug-button .tooltips {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.debug-button-tooltip .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.debug-button .tooltips {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.debug-button .tooltips:hover .tooltiptext {
  visibility: visible;
}

.splashBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("splash.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  left: 0px;
  top: 270px;
  opacity: 0.8;
}
.sessionFormDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("session-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: transparent;
  left: 0px;
  top: 0px;
  opacity: 0.8;
}


.splashPage {
  overflow-y: hidden;
}

.greeting-text-padding {
  margin-top: 40px;
}

.greeting-header-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: white;
  text-align: center;
}

.greeting-text-use{
  margin-top: 10px;
  color: hsla(0,0%,100%,.6);
  text-align: center;
  font-size: 15px;
}